Package: com.truehybridx.noaccsplash
Name: NoAccSplash
Depends: mobilesubstrate
Version: 1.6
Architecture: iphoneos-arm
Maintainer: Brandon
Author: Brandon <truehybridx@gmail.com>
Section: Tweaks
Description: To Be Filled By Repo Management